<div class="coding-container">
  <div class="action-buttons">
    <button class="view-projects-button" (click)="viewProjects()">View Projects</button>
  </div>

  <div class="coding-snippet">
    <div class="snippet-inputs">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" placeholder="Enter a name">

      <label for="code">Code:</label>
      <textarea id="code" [(ngModel)]="code" placeholder="Enter code here"></textarea>

      <button class="save-button" (click)="saveSnippets()">Save Snippet</button>
    </div>
  </div>
</div>
