<div class="register-container">
  <form [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
    <h2>Register</h2>
    <div class="form-group">
      <label for="username">First Name:</label>
      <input type="text" id="username" formControlName="firstName" required>
    </div>
    <div class="form-group">
      <label for="username">Last Name:</label>
      <input type="text" id="username" formControlName="lastName" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
