<div class="navbar">
  <a routerLink="/">
    <img src="/assets/img/app/logo.svg" width="50px" alt="Logo" />
  </a>
  <ul *ngIf="!isAuth; else authLinks" class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/code">Code</a></li>
  </ul>
  <ng-template #authLinks>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/code">Code</a></li>
      <li><a routerLink="/snip">Snip</a></li>
      <li><a routerLink="/manager">Projects</a></li>
      <li><a routerLink="/user">User</a></li>
      <li>
        <button (click)="SignOut()" class="sign-out-button">Sign out</button>
      </li>
    </ul>
  </ng-template>
</div>
