$primary-bg-color: #222831;
$accent-color: #00ADB5;
$text-color: #EEEEEE;
$card-bg-color: #30475E;
$card-hover-bg-color: #425B76;
$card-spacing: 20px;
$card-width: 120px; 
$card-aspect-ratio: 1.2;

.project-manager {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: $primary-bg-color;

  h2 {
    color: $accent-color;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 15px;
    text-align: center;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
    gap: $card-spacing;
    justify-content: center; 
  }

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-color;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 10px;
    border-radius: 10px;
    background-color: $card-bg-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: $card-width;
    height: calc(#{$card-width} * #{$card-aspect-ratio}); 

    i {
      margin-bottom: 5px;
      color: $accent-color;
      font-size: 1.5rem;
    }

    .project-name {
      text-align: center;
      font-weight: bold;
      font-size: 0.9rem;
    }

    &:hover {
      background-color: $card-hover-bg-color;
      color: $text-color;
    }
  }
}
