<div class="navbar">
    <a routerLink="/">Logo</a>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/code">Code</a></li>
    </ul>
</div>

<div class="landing-container">
  <h2>Welcome to our Landing Page!</h2>
  <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus temporibus excepturi, veniam distinctio vel fugiat officia perferendis, laboriosam a nam voluptates odio hic quos, suscipit consequatur libero iusto aut. Itaque!
  </p>
  <button class="cta-button" routerLink="/code">Get Started</button>
</div>
  