<!-- Formulario de inicio de sesión -->
<div class="login-container" *ngIf="!loggedIn">
  <div class="formContainer">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
</div>


