<div class="container-buttons">
  <button class="run-button" (click)="Run()">Run</button>
  <div class="right-buttons">
    <input
      [(ngModel)]="name"
      type="text"
      class="nameText"
      placeholder="Enter Name here"
    />
    <button class="save-button" (click)="Save()">Save</button>
    <button class="view-projects-button" (click)="ViewProjects()">
      View Saved Projects
    </button>
  </div>
</div>
<div class="container">
  <div class="box">
    <label>HTML</label>
    <textarea
      [(ngModel)]="htmlCode"
      placeholder="Enter HTML code here"
    ></textarea>
  </div>

  <div class="box">
    <label>CSS</label>
    <textarea
      [(ngModel)]="cssCode"
      placeholder="Enter CSS code here"
    ></textarea>
  </div>

  <div class="box">
    <label>JavaScript</label>
    <textarea
      [(ngModel)]="jsCode"
      placeholder="Enter JavaScript code here"
    ></textarea>
  </div>
</div>

<div class="preview-container">
  <label>Preview</label>
  <div class="preview">
    <iframe [srcdoc]="getIframeContent()" sandbox="allow-scripts"></iframe>
  </div>
</div>
